{% extends 'base.html' %}

{% block title %}
About
{% endblock %}

{% block content %}
<br>
<div class="container">
    <div class="card text-bg-dark mb-3 " style="max-width: 75rem;">
        <div class="card-header">
            <h1>About Me</h1>
        </div>
        <div class="col">
            <div class="card h-50 text-bg-dark" style="max-width: 75rem;">
                <div class="card-body">
                    <h3 class="card-title">Full Name:</h3>
                    <p class="card-text">TORNIKE GIORGAIA</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 text-bg-dark" style="max-width: 75rem;">
                <div class="card-body">
                    <h3 class="card-title">University:</h3>
                    <p class="card-text">BTU - Business and Technology University</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 text-bg-dark" style="max-width: 75rem;">
                <div class="card-body">
                    <h3 class="card-title">GitHub:</h3>
                    <a class="card-text" href="https://github.com/T0rnik3">https://github.com/T0rnik3</a>
                </div>
            </div>
        </div>
        <div class="card-header">
            <h1>Useful Links:</h1>
        </div>
        <div class="col">
            <div class="card h-100 text-bg-dark" style="max-width: 75rem;">
                <div class="card-body">
                    <h3 class="card-title">Flask Web Application Development</h3>
                    <a class="card-text" href="https://youtu.be/Qr4QMBUPxWo">Flask Course</a>
                    <br>
                    <a class="card-text" href="https://youtube.com/playlist?list=PL-osiE80TeTs4UjLw5MM6OjgkjFeUxCYH">Flask Course 2</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}