{% extends 'base.html' %}

{% block title %}
Change Password
{% endblock %}

{% block content %}

<div class="row gutters">
    <form method="post" class="form-update">
        <!--! CROSS SITE REQUEST FORGERY (CSRF)   -->
        {{ pass_form.hidden_tag() }}
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <h6 class="mb-3 text-primary">Change Password</h6>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
            {{ pass_form.old_password.label()}}
            {{ pass_form.old_password(class="form-control", placeholder="Old Password")}}
        </div>
        <div class="row gutters">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                {{ pass_form.password1.label()}}
                {{ pass_form.password1(class="form-control", placeholder="New Password")}}
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                {{ pass_form.password2.label()}}
                {{ pass_form.password2(class="form-control", placeholder="Confirm Password")}}
            </div>
        </div>
        <br>
        <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="text-right">
                    {{ pass_form.submit(class="btn btn-sm btn-block btn-primary") }}
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}